<h1 class="text-lg font-semibold">New Post</h1>


<div class="join join-vertical">
  <%= form_with(model: @post, url: group_posts_path(@group), local: true) do |form| %>

    <div class="form-control w-full max-w-xs">
      <%= form.label :content, class: "label-text" %>
      <%= form.text_area :content, class: "input input-bordered w-full max-w-xs" %>
    </div>

    <div class="btn btn-primary mt-4">
        <%= form.submit %>
    </div>
  <% end %>
</div>
